section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    width: 100%;

    background: url('watermusic.jpg')no-repeat;
    background-position: center;
    background-size: cover;
}